.howto{
    border: 3px solid black;
    width: 100%;
    border-radius: 20px;
    padding: 8%;
    height: 100%;
    border: 2px solid black;
    border-radius: 20px;
    box-shadow: 0 10px 0 black;
    background-color:#ffffff;
    transition: transform 0.2s ease;
}

.howto:hover {
    transform: translateY(-10px);
}

.howToBorder {
    border: 1px solid black;
    border-radius: 20px;
    margin-bottom: 30px;

}



.boxHeading {
    font-size: 1.8rem;
    margin: 20px 0;

}

.boxText {
    color: black;
    font-family: 'Open Sans', sans-serif;
    font-size: 1rem;
    line-height: 1.4;
    max-width: 400px;
}

.dragonPic {
    border-radius: 20px;
    padding: 3%;
}