.howto{
    border: 3px solid black;
    width: 100%;
    border-radius: 20px;
    padding: 10%;
    height: 100%;
    border: 2px solid black;
    border-radius: 20px;
    box-shadow: 0 10px 0 black;
    background-color:#ffffff;
}


.boxHeading {
    font-size: 1.8rem;
    margin: 20px 0;

}

.boxText {
    color: black;
    font-family: 'Open Sans', sans-serif;
    font-size: 1rem;
    line-height: 1.4;
    max-width: 400px;
}
