.howto{
    border: 3px solid black;
    width: 100%;
    border-radius: 20px;
    padding: 10%;
    height: 100%;
    box-shadow: 0.2cm 0.1cm 0 black;
    background-color: white;
}

.boxText {
    color: black;
    font-family: 'Open Sans', sans-serif;
    padding: 10px;
}
