.app-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* This ensures that the container takes up at least the full viewport height */
}


.footer {
  /* Other footer styling here */
  margin-top: auto; /* This pushes the footer to the bottom */
}
