/* Whole component */
.quizContainer {
  width: 100%;
} 

/* The outermost container */
.quiz_slider_container {
  max-width: 100rem;
  margin: auto;
}

/* The heading */
.quiz_slider_heading {
  font-size: 3rem;
  text-align: center;
  padding: 0.5%;
}

/* The whole swiper container */
.swiper_container {
  height: 12.8rem;
  position: relative;
}

/* The swiper slides */
.swiper-slide {
  width: 15rem;
  height: 12rem;
  position: relative;
}

.question_container {
  background-color: #dee2f6;
  border: 2px solid black;
  box-shadow: 0px 10px 0px black,
              20px 0px 20px #1f34d721,
              -20px 0px 20px #1f34d721;
  width: 29rem;
  height: 12rem;
  border-radius: 2rem;
  object-fit: cover;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Inner div container the question. */
.border_container {
  background-color: #dee2f6;
  border: 2px solid rgb(255, 255, 255);
  width: 27rem;
  height: 10rem;
  border-radius: 2rem;
}

/* Question Text */
.question_text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;
  width: 26rem;
  text-align: center;
  font-size: 1.5rem;
  font-family: sans-serif;


}

/* This is needed to stop a misplaced shadow in the slider */
.swiper-slide-shadow-left,
.swiper-slide-shadow-right {
  display: none;
}

/* MEDIA QUERIES */
@media (max-width: 500px) {
  .swiper_container {
    height: 47rem;
  }
  .swiper-slide {
    width: 28rem;
    height: 36rem;
  }
  .swiper-slide img {
    width: 28rem;
    height: 36rem;
  }
}
