/* Styles for Room component */

.roomContainer {
      background: linear-gradient(to bottom, rgba(255,255,255,0), white), 
    linear-gradient(to right, #f79a4e, #d497bf);
  display: flex;
  justify-content: center;
}


.match {
  position: absolute;
  bottom: 5%;
  margin: auto;
  max-width: 40%;
  height: auto;
  z-index: 5;
  border-radius: 20px;
  border: 2px solid black;
}

.noMatch {
  position: absolute;
  bottom: 5%;
  margin: auto;
  max-width: 40%;
  height: auto;
  z-index: 5;
  border-radius: 20px;
  border: 2px solid black
}
  
.starContainer {
  bottom: -5%;
  left: 28%;
  width: 35%;
  align-items: center;
  justify-content: center;
  background-color: #dee2f6;
  margin: 0 auto 60px;
  padding: 15px;
  border-radius: 20px;
  border: 1px solid black;
}
  
.star {
  filter: invert(1);
  width: 10%;

}
  
.activeStar {
  filter: invert(0.6) sepia(3) saturate(5) hue-rotate(8deg) brightness(1.1) !important;
  width: 10%;
}


.nextQuestionButton {
  background-color: #ffc100  ;
  border-radius: 20px;
  border: 2px solid black;
  box-shadow: 0px 5px 0px black;
  font-family: 'Open Sans', sans-serif;
  padding: 1% 2%;
  display: flex;
  margin: 0 auto 60px;
}

.secondaryButton {
  background-color: rgba(240, 132, 94, 1);
  border-radius: 20px;
  padding: 0.5%;
  width: 10%;
  margin-top: 1%;
  position: absolute;
  bottom: 25%;
  right: 10%;
}

/* Styles for Button component */

.startButton {
  display: flex;
  justify-content: center;
    background-color: #bbc6ff ;
    border-radius: 20px;
    border: 2px solid black;
    box-shadow: 0px 5px 0px black;
    padding: 5px;
    margin: 60px auto;
    width: 20rem;
    font-size: 1.8rem;
    cursor: pointer;
}

.startButton:hover {
  background-color: #9ba9ef;
  cursor: pointer;
}

/* Styles for Controls component  */

.controlsContainer {
	width: 50%;
	display: flex;
	justify-content: center;
	margin: auto;
  bottom: 0%;

}

.optionButton {
	width: 45%;
	border: 2px solid black;
  border-radius: 20px;
  box-shadow: 0 10px 0 black;
  background-color: #bbc6ff;
  padding: 60px;
	overflow: hidden;
	display: flex;
	align-items: center;
	justify-content: center;
	cursor: pointer;
  padding: 2%;
  margin: 6%;
  margin-left: 8%;
  margin-right: 8%;
  margin-bottom: 15%;
  flex-direction: column;
  color: black;
}

.optionButton:hover {
	scale: 1.1;
}


.optionButton:Active {
  scale: 1.2;
	width: 45%;
	border: 2px solid black;
  border-radius: 20px;
  box-shadow: 0 10px 0 black;
  background-color: #97a2da;
  padding: 60px;
	cursor: pointer;
  overflow: hidden;
	display: flex;
	align-items: center;
	justify-content: center;
	cursor: pointer;
  padding: 2%;
  margin: 9%;
  flex-direction: column;
 
} 


.optionButtonImg {
	background-color: #ffffff;
    border: 2px solid black;
    border-radius: 20px;
    width: 100%;

}

.playerName {
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  font-size: large;
  margin-top: 8%;
}

/* Styles for Waiting for Connection component */

.playerContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-wrap: nowrap;
  height: 60vh;
}

.opponentContainer {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
  
.connectionText {
  font-size: 1.2rem;
  color: rgb(0, 0, 0);
  margin: 0 auto 60px;

}

/* Styles for JoinLink component  */

.join_link_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgb(255, 255, 255);
  width: 100%;
  height: 300px;
  text-align: center;
  border: 2px solid black;
  border-radius: 20px;
  box-shadow: 0 10px 0 black;
  margin-top: auto;
  margin-bottom: auto;
  padding: 20px;

  
}

.copy_link {
  background-color: #bbc6ff;
  color: black;
  font-size: 1rem;
  padding: 10px 15px;
  border: 2px solid black;
  border-radius: 15px;
  box-shadow: 0 2px 0 black;
  margin-bottom: 30px;
  position: relative;
}

.copy_link::after {
  content: "";
  width: 20px;
  height: 20px;
  background-color: rgb(0, 0, 0);
  position: absolute;
  bottom: -4px;
  z-index: -1;
  left: calc(50% - 10px);
  transform: rotate(45deg);
}

.join_link {
  outline: none;
  border: 2px solid rgb(0, 0, 0);
  border-radius: 5px;
  cursor: pointer;
  padding: 10px 20px;
  font-size: 14px;
  font-weight: 600;
  color: rgb(0, 0, 0);
  background-color: var(--purple);
  width: auto;
}

.join_link_active {
  background-color: var(--green);
}

.join_link_text {
  font-size: 1.5rem;
  line-height: 1.5;
  color: rgb(0, 0, 0);
  font-weight: normal;
  margin: 10px 0 0 0;
  margin-bottom: 30px;
}
