  h1 {
    color: #bbc6ff;
    -webkit-text-stroke: 3px black;

    font-family: 'Trebuchet MS', sans-serif ;
    text-align: center;
    font-size: 100px;
}   

.login {
    text-align: center;
    padding: 1cm;
}

.howToPlay{
    text-align: center;
}

.subTitle {
    padding: 1cm;
}


