 
  h1 {
    color: #bbc6ff;
    -webkit-text-stroke: 3px black;
    font-family: 'Open Sans', sans-serif;
    font-weight: 800;
    text-align: center;
    font-size: 700%;
    padding: 2%;
}   

.login {
    text-align: center;
    padding: 1cm;
}

.subTitle {
    padding: 1cm;
    font-family: 'Open Sans', sans-serif;
    font-weight: 800;
    color:#bbc6ff;
    -webkit-text-stroke: 3px black;
    text-align: center;
    font-size: 350%;
    padding: 2%;

}

.introBox {
    background: #f7e9f0 ;
    border: #bbc6ff solid 2px;
    padding: 1cm 0cm 1cm 0cm;
    width: 100%;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
}

.dragonPic {
    width: 100%;
    border-radius: 10px;
}


.background1 {
    background: linear-gradient(to bottom, rgba(255,255,255,0), white), 
    linear-gradient(to right, #f79a4e, #d497bf);
    padding: 3%;

}

.howToPlayTitle{
    text-align: center;
    color: black;
    padding: 30px;
}

.howToPlay{
    background: 
    linear-gradient(to top, rgba(255,255,255,0), white), 
    linear-gradient(to right, #f79a4e, #d497bf);

}

.paragraph {
    text-align: center; 
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    padding: 3% 15%;

}

.paragraph2 {
    text-align: center; 
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    padding: 0% 10%;

}


.font {
    font-family: 'Open Sans';
}

.boxbottom {
   padding: 5%; 
}

.playButton {
    background-color: #bbc6ff ;
    border-radius: 15px;
    border: 2px solid black;
    box-shadow: 0px 5px 0px black;
    padding: 10px;
    margin: 60px auto;
    width: 30rem;
    font-weight: 600;
    font-size: 2.2rem;
}
.playButtonAlign {
    text-align: center;
}