.col-md-6 {
    padding: 20px;
    
  }
  
  .login-container {
    border: 1px solid #eee;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
  }
  

  .signup-container {
    border: 1px solid #eee;
    background-color: #f0f8ff;
    padding: 20px;
    border-radius: 10px;
  }
  