/*
THE FILE

This file contains the CSS for the QuizSlider.
Some styles for the component come from the Swiper Library which is in the QuizSlider.js component. 

*/


/*This html tag seems to decide the size of the slider. ** This might affect other pages.** */
/* html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}  */


/*The outermost container*/
.quiz_slider_container {

  max-width: 134rem;
  padding: 4rem 1rem;
  margin: 0 auto;

}

/*The heading*/
.quiz_slider_heading {
  padding: 1rem 0;
  font-size: 3.5rem;
  text-align: center;
}

/*The whole swiper container*/
.swiper_container {
  height: 42rem;
  padding: 2rem 0;
  position: relative;

}

/*The swiper slides*/
.swiper-slide {
  width: 37rem;
  height: 42rem;
  position: relative;
}


/*Outer div containing the question*/
.question_container {
  background-color: #dee2f6;
  border: 2px solid black;
  box-shadow: 0px 10px 0px black,
              20px 0px 20px #1f34d721,
              -20px 0px 20px #1f34d721;

  width: 52rem;
  height: 34rem;
  border-radius: 2rem;
  object-fit: cover;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  align-items: center;
  
  
  
}

/*Inner div container the question.*/
.border_container {
  background-color: #dee2f6;
  border: 2px solid black;
  width: 48rem;
  height: 30rem;
  border-radius: 2rem;
  
}

/*Question Text*/
.question_text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;
  width: 42rem;
  text-align: center;
  font-size: 3rem;
  font-family: sans-serif;
  

}

/*This is needed to stop a misplaced shadow in the slider */
.swiper-slide-shadow-left,
.swiper-slide-shadow-right {
  display: none;
}


/*MEDIA QUERIES*/

@media (max-width: 500px) {
  .swiper_container {
    height: 47rem;
  }
  .swiper-slide {
    width: 28rem;
    height: 36rem;
  }
  .swiper-slide img {
    width: 28rem;
    height: 36rem;
  }
}