.signupBorder {
    background-color: #bbc6ff ;
    border-radius: 15px;
    border: 2px solid black;
    box-shadow: 0px 5px 0px black;
    padding: 20px;
    border-radius: 30px;
    font-family: 'Open Sans', sans-serif;
    background-color: white;
}

.underButton{
    border-style: none;
    padding: 20px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    background-color: white;
}

.mainbutton {
    background-color: #bbc6ff ;
    border-radius: 20px;
    padding: 10px;
    margin-top: 10px;
    width: 80%;
    font-family: 'Open Sans', sans-serif;
    font-weight: 800;
}
.loginBox{
    background-color: white;
}

.LoginTitle {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: large;
    padding-bottom: 15px;
}