.signupBorder {
    background-color: #bbc6ff ;
    border-radius: 15px;
    border: 2px solid black;
    box-shadow: 0px 5px 0px black;
    padding: 40px 20px;
    border-radius: 30px;
    font-family: 'Open Sans', sans-serif;
    background-color: white;
}

.underButton{
    border-style: none;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    background-color: white;
    margin-top: 20px;
}

.underButton:hover {
    text-shadow: 0.5px 0.5px 0px rgba(0, 0, 0);

}

.mainButton {
    background-color: #bbc6ff ;
    border-radius: 15px;
    border: 2px solid black;
    box-shadow: 0px 5px 0px black;
    padding: 5px;
    margin: 20px auto;
    width: 100%;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 1.5rem;
    transition: background-color 0.3s ease;

}

.mainButton:hover {
    background-color: rgb(161, 175, 247);
  }
  
  .mainButton:active {
    background-color: rgb(161, 175, 247);
    border: 2px solid black;
    box-shadow: none;
    transform: translateY(3px);
    transition: transform 0.4s ease-in-out, box-shadow 0.2s ease-in-out;
  }


.loginBox {
    background-color: white;
}

.LoginTitle {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 1.8rem;
    padding-bottom: 40px;
}

.form-control {
    background-color: #F8F5FF;
    border: 1px solid black;
    border-radius: 15px;
    padding: 10px;
    font-size: 1rem;
    margin-bottom: 10px;
}