.signupBorder {
    border: 3px rgb(0, 0, 0) solid;
    padding: 20px;
    border-radius: 30px;
}

.underButton{
 border-style: none;
 background-color: white;
 padding: 20px;
}

.signup-mainbutton {
    background-color: #ffc100  ;
    border-radius: 20px;
    padding: 10px;
    margin-top: 10px;
    width: 80%;
}

.buttonSpacing {
 padding: 5px;
}